@media (max-width: 376px) {

  .main__info img {
    margin-right: 7px;
  }

  .time__name {
    padding: 10px 10px;
  }

  .main__heading {
    font-size: 28px !important;
  }
}

@media (max-width: 415px) {
  .day_group {
    padding: 20px;
  }

  .header__p_hero img {
    display: none;
  }
}

@media (max-width: 576px) {
    
    .history__item{
        padding: 15px 17px;
    }
    
    
    .more__link{
        font-size: 15px;
    }
    
    .priest__link{
        border-bottom: none;
    }
    
    .p__post{
        font-size: 16px !important;
    }
    
    .smi__item{
        padding: 15px 20px;
    }

  .priest__link {
    width: 280px;
  }

  .group {
    flex: 0 0 100% !important;
  }

  /* .search {
    justify-content: space-around !important;
    height: 210px !important;
  } */

  .btn__whatsapp {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .main__text h1 {
    text-align: center;
  }


  .nav__link {
    font-size: 16px;
  }

  .main__heading {
    font-size: 32px;
  }


}

@media (max-width: 768px) {
    
    .block_video__materials{
        height: auto;
    }
    
    .book__heading{
        text-align: left;
    }
    .book__heading_info{
        text-align: left;
        margin-top: 10px;
        display: block;
    }
    
    .p__post{
        text-align: left;
    }
    

  .menu {
    padding: 25px 0;
  }

  .header__head {
    text-align: center;
    font-size: 18px;
  }

  .header__callback {
    margin-top: 20px;
  }

  .book__img_bl {
    margin-bottom: 20px;
  }

  .books__item {
    /*text-align: center;*/
    flex-direction: column;
    padding: 15px 25px !important;
  }

}

@media (max-width: 992px) {
    
    
      .more {
    padding: 15px 0;
  }

  .block__phone {
    display: block;
  }

  .block__item {
    margin-top: 10px;
  }

  .more_links {
    padding: 0px;
  }

  .news_kazan {
    display: block;
  }

  .news__item {
    margin-top: 20px;
  }

  .news__text p {
    max-width: 100%;
  }
    
    .books__item{
        height: auto;
    }
    
    .books__item .p__post {
    overflow-y: visible;
    height: auto;
}

  .header__info,
  .header__logo{
    justify-content: center;
  }
  
    .header__info {
          margin-top: 15px;
    }

  .header__callback {
    justify-content: center;
  }

  .nav__item {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* .nav {
    padding: 20px;
  } */

  .search {
    height: 330px;
    justify-content: space-around;
    flex-direction: column;
  }

  .books__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .reviews__list {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .nav__item{
    padding-right: 0px;
}
}

@media (max-width: 1024px) {
  .group {
    flex: 0 0 49%;
  }

  .seacrh__link {
    padding: 8px 25px;
  }

  .hero__container {
    padding: 25px 45px;
  }

  .smi__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav__list {
    flex-direction: column;
    display: none;
  }

  .mobile__menu {
    display: inline-block;
  }
}

/* @media (max-width: 1200px) {}

@media (max-width: 1920px) {} */